<!DOCTYPE html>
<link rel="stylesheet" href="/css/footer.css"/>
<section id="footer">
  <div class="box">
      <a href="/main.html"><img src="/images/home.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/questions.html"><img src="/images/list.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/template.html"><img src="/images/search.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/settings.html"><img src="/images/setting.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
  </div>
</section>