<!DOCTYPE html>
<!-- <div id="footer" style="position: fixed; bottom: 0; width: 100%;">
  <footer class="py-4" style="background-color: rgba(21, 114, 49, 0.386);">
    <div class="content has-text-centered">
      <p style="font-size: small;">
        <strong>Guitar Genius</strong> by <a>BBY-5</a>
      </p>
    </div>
  </footer>
</div> -->
<link rel="stylesheet" href="/css/footer.css"/>
<section id="footer">
  <div class="box">
      <a href="/app/html/main.html"><img src="/img/home.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/app/html/questions.html"><img src="/img/list.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/app/html/template.html"><img src="/img/search.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/app/html/settings.html"><img src="/img/setting.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
  </div>
</section>