<!DOCTYPE html>
<link rel="stylesheet" href="/css/footer.css"/>
<section id="footer">
  <div class="box">
      <a href="/main"><img src="/img/home.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/questions"><img src="/img/list.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/template"><img src="/img/search.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
      <a href="/settings"><img src="/img/setting.svg" style="margin-right: 0.7em; margin-left: 0.7em;"/></a>
  </div>
</section>