<!DOCTYPE html>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/footer.css"/>

<nav class="navbar" role="navigation" aria-label="main navigation"
    style="background-image: linear-gradient(rgba(19, 100, 43, 0.785), rgb(255, 255, 255));">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/main.html">
                <img src="https://cdn.dribbble.com/users/3211292/screenshots/9994424/media/bba98e100c96152efa53755071cc842a.jpg"
                    style="zoom: 200%; border-radius: 50%;">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/userProfile.html" class="button">
                        Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>