<!DOCTYPE html>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/footer.css"/>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/main">
                <img src="https://cdn.dribbble.com/users/3211292/screenshots/9994424/media/bba98e100c96152efa53755071cc842a.jpg" class="logo">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                    <a href="/userProfile" class="button">
                        Profile
                    </a>
            </div>
        </div>
    </div>
    </div>
</nav>