<!DOCTYPE html>
<script src="/scripts/userProfile.js"></script>
<nav class="navbar" role="navigation" aria-label="main navigation"
    style="background-image: linear-gradient(rgba(19, 100, 43, 0.785), rgb(255, 255, 255));">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/app/html/main.html">
                <img src="https://cdn.dribbble.com/users/3211292/screenshots/9994424/media/bba98e100c96152efa53755071cc842a.jpg"
                    style="zoom: 260%; border-radius: 50%;">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button type="button" class="btn btn-success">
                        <a href="/app/html/userProfile.html" style="color:whitesmoke;">
                            Profile
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>