/**
footer
**/
.svg {
  margin-right: 3em;
  margin-left: 3em;
  zoom: 80%;
  max-width: 60px;
}

.box {
  display: flex;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 101, 40, 0.476);
}


/**
Neon button css
**/
/* :root {
    --clr-neon: rgb(12, 112, 42);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
  }
  
  .neon-button {
    font-size: 1.4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(3em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3em 0.2em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: rgb(165, 165, 165);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  } */


/**
  Regular button
  **/
.button {
  width: 100px;
  padding: 15px 0;
  text-align: center;
  /* margin: 20px 10px; */
  border-radius: 5px;
  font-weight: bold;
  border: 2px rgb(24, 94, 56) solid;
  background: mediumseagreen;
  cursor: pointer;
}

.button:hover {
  transition: all 0.5s;
  box-shadow: 0 0 1em;
}