html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.banner {
    background-image: url(/img/bg.png);
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}

.content h1 {
    font-size: 70px;
    text-shadow: 5px 5px grey;
}

.content h3 {
    margin: auto;
    /* font-weight: 400; */
    line-height: 25px;
}

button {
    width: 180px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px rgb(24, 94, 56) solid;
    background: mediumseagreen;
    cursor: pointer;
    opacity: 80%;
}

button:hover {
    opacity: 100%;
    transition: all 0.75s;
    box-shadow: 0 0 4em black;
    transform: scale(1.1);
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    position:absolute;
    bottom: 0;
    padding: 18px;
    width: 95%;
    border: none;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}