.card-body {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 3px solid #2d864880;
    background-color: #2d864854;
    width: auto; /* By default, the width is auto */
    max-width: 650px; /* Set a maximum width of 650px */
    height: 450px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

/* Apply different styles when the viewport is 650px or less */
@media (max-width: 650px) {
    .card-body {
        width: auto; /* On small screens, make the width auto */
        margin: 50px auto 0; /* Adjust the margin to better suit small screens */
    }
}

/* TODO: refactor later, lazy code */
* {
    text-align: left;
}

p {
    margin-bottom: 2px;
}

.topSection {
    margin-bottom: 6px;
}

.topSection h3,
.topSection button {
    display: inline;
}

h2 {
    text-align: center;
}

#bbb {
    float: right;

}

#Btn {
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 2px mediumseagreen solid black;
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.8s;
    /* float: right; */
}
