* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: #2d864880;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

.app h1{
    font-size: 40px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    text-align: center;
    transition: ease-in-out 0.6s;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

#question-container {
    padding: 20px 0;
    text-align: left;
    transition: ease-in-out 0.8s;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

.question-text h2 {
    font-size: 6px;
    font-weight: 300;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

#choices-container {
    width: 200px;
    border: 1px solid #222;
    padding: 10px;
    margin-top: 25px;
    text-align: left;
    border-radius: 8px;
}

#next-question {
    width: 150px;
    border-radius: 10px;
    display: none;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

#next-question:active {
    background-color: #2d8648;
}

button {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 8px;
    text-align: left;
    transition: all 0.8s;
}

button:hover {
    transform: scale(1.08);
}

button:visited {
    background-color: white;
}

button:focus {
    background-color: #2d864880;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}